body, html{
    min-height: 100%; min-width: 100%;
}
body { 
    background-color: aliceblue;
}
#columns {
     height: 36px;
}
.note {
    height: 50px;
    width: 100px;
    float: left;
    border: 2px solid #6666ff;
    background-color: #ccc;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: move;
}
.box {
    min-height: 800px;
    width: 300px;
    border: 1px solid black;
    background-color: #ddd;
    margin-top: 120px;
    border-radius: 10px;    
    float:left;
}
.over { /*целевой объект над которым находится перетаскиваемый элемент*/
    border: 2px dashed #000;
}
.above { /* перетаскиваемый элемент*/
    border: 2px dashed red;
    width:80px; height: 40px;
}